html,body{
	padding: 0;
	margin: 0;
	height:100%;
	background-image:url("/public/images/LGLogo.jpg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#page{
/* 
	width:455px; */
	width: 100%;
	height: 90%;
	margin: 0 auto;
}

#button{
	width:100%;
	margin: 0 auto;
	position:fixed;
	bottom:5%;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-header{
	background-color: #fefefe;
        margin: 15% auto 0% auto;
        padding: 20px;
        border: 1px solid #888;
	border-bottom: none;
        width: 60%;
        text-align: center;
}

.modal-content{
	background-color: #fefefe;
	margin: 0% auto 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-top: none;
	width: 60%;
	text-align: center;
}

.close{
	color: #aaaaaa;
	float: right;
	font-size: 75px;
	font-weight: bold;
}

table{
	width: 100%;
	height:90%;
}

td{
	font-family:arial;
	/*color:#333;*/
	background:rgba(255,255,255);
	background:rgba(255,255,255,.5);
	padding:10px;
	width:20%;
	text-align:center;
	border:10px solid #ddc;
/*	background-color:#eee;
	opacity: 0.8;
	text-shadow:
		-1px -1px 0 #FFF,
		1px -1px 0 #FFF,
		-1px 1px 0 #FFF,
		1px 1px 0 #FFF;*/
	font-weight: bold;
}

button{
	text-align:center;
	padding:10px;
	border: 2px solid #002F5A;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%; 
	background-color: #6298C8;
}

.bingohead{
	border:10px solid #c2324c;
}

h1, h3, h3 a{
	font-family:arial;
	text-align:center;
	padding:3px;
	color:#211111;
	background-color:#EEEEEE;
	border:2px solid #DDDDCC;
}

td{
	cursor:pointer;
}

#free{
	background-color:#FFF;
	color:#eee;
	cursor:default;
}

